<div class="footer" align="center">
<a href="mailto:nan@msu.edu"><i class="far fa-envelope fa-2x"></i></a> <a href="https://seriousconservation.org" target="_blank"><i class="fab fa-squarespace fa-2x "></i></a> <a href="https://twitter.com/seriouswildlife" target="_blank"><i class="fab fa-twitter fa-2x"></i></a> <a href="https://instagram.com/seriousconservation" target="_blank"><i class="fab fa-instagram fa-2x"></i></a>  <a href="https://facebook.com/seriousconservation" target="_blank"><i class="fab fa-facebook fa-2x"></i></a> <a href="http://github.com/nannourn" target="_blank"><i class="fab fa-github-alt fa-2x"></i></a> <a href="https://orcid.org/0000-0001-5057-0640" target="_blank">
<i class="ai ai-orcid ai-2x"></i></a>

</div>
