{{ define "main" }}

<div class="helvetica fw9 f1 ttu tc">Welcome.សូមស្វាគម៍.bienvenidos.bienvenu.</div>
<div class="courier fw4 f4 bg-light-pink ttl">Nan Nourn នូនណាន is a conservation ecologist and Ph.D. student at Michigan State University in the Department of Fisheries & Wildlife. He's a first-generation Cambodian-American who can speak, read and write Khmer ភាសារខ្មែរ. He likes using ggplot2 and listens to rap music. Learn more about him  <a href="about/">here</a>.
</div>
<br>
<div class="helvetica fw9 f1 ttu tc bg-dark-pink">Latest posts</div>

<div class="posts-list">
{{ with .Site.GetPage "/posts" }}
    {{ range first 3 (sort .Data.Pages "Date" "desc" (where .Pages ".Params.private" "!=" true))}}
        <div class="post">
            <p>
                <div class="date">{{ .PublishDate.Format "Jan. 2, 2006" }}</div>
                <h1><a href="{{ .Permalink }}" title="{{ .Title }}">{{ .Title }}</a></h1>
                {{ .Summary }}
            </p>
        </div>    
    {{ end }}
{{ end }}
</div>


<div class="helvetica fw9 f1 ttu tc bg-hot-pink">Latest projects</div>
<br>
<div class="image-grid">
{{ with .Site.GetPage "/projects" }}
    {{ range first 3 (sort .Data.Pages "Date" "desc")}}
        <a href="{{ .Permalink }}" title="{{ .Title }}">
        {{ $image := .Page.Resources.GetMatch .Params.image }}
        {{ with $image }}
            {{ $thumb := .Resize "400x" }}
            <img src="{{ $thumb.RelPermalink }}" alt="{{ .Title }}" class="img-responsive">
        {{end}}
        </a>
    {{ end }}
{{ end }}
</div>

{{ end }}

